{
  "presets": [
    [ "@babel/preset-env", { "modules": "umd" } ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],

  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
