{
  "presets": [
    [ "env", { "modules": false } ],
    "stage-0",
    "react",
    "flow"
  ],

  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  },

  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-runtime"
  ]
}