{
  "parser": "babel-eslint",

  "env": {
    "mocha": true
  },

  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  },

  "extends": "airbnb"
}