# IDE specific
.idea

# Logs
npm-debug.log*

# Dependencies
node_modules

# Coverage
coverage

# Cache
.nyc_output
.tmp

# Sources, tests and builder files
builder
src
test
internals
.babelrc
.eslintignore
.eslintrc
.travis.yml
jest.json
renovate.json
rollup.config.js